@use '../../styles/variables' as *;

.reviewsTileContainer {
  border: 1px solid $lavender-color;
  padding: 8px 16px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  column-gap: 16px;
  flex-direction: column;

  @media screen and (min-width: 560px) {
    flex-direction: row;
  }
}
