@use "../../styles/variables" as *;

.restaurantDetailContainer {
  margin-top: 100px;
  margin-bottom: 40px;

  .restaurantDetailSpinnerContainer {
    display: flex;
    justify-content: center;
    margin-top: 40%;
  }

  .restaurantDetailsReviewsContainer {
    padding: 0 16px;

    .restaurantDetailsReviewsTitle {
      margin-bottom: 16px;
    }

    @media screen and (min-width: 560px) {
      padding: 0;
    }
  }

  .restaurantDetailsNoReviewsFounded {
    margin-top: 40px;
    padding: 0 16px;
  }
}
