@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.nearByRestaurantsLandingWrapper {
  width: 100%;
  padding: 0px 16px;

  .nearByRestaurantsSpinnerContainer {
    margin-top: 80px;
    display: flex;
    justify-content: center;
  }

  .nearByRestaurantsParentRestaurantList {
    display: grid;
    padding-inline-start: 0px;
    gap: 16px;

    @media screen and (min-width: 560px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  .nearByRestaurantsList {
    list-style: none;
    width: 100%;
  }

  .nearByRestaurantsNotFound {
    margin: 40px;
  }

  @media screen and (min-width: 560px) {
    padding: 0;
  }
}
